In [9]:
import sqlite3
import os
import pandas as pd
from datetime import datetime

In [2]:
conn = sqlite3.connect('stock_analytics.db')

### 設計股票基本數據儲存表格
schema        | 中文     | Data Type
--------------|---------|----------
stock_id      | 股號     |
date          | 日期     |
volume        | 成交股數 https://www.tutorialspoint.com/sqlite/sqlite_data_types.htm
turnover_value| 成交金額
open          | 開盤價
high          | 最高價
low           | 最低價
close         | 收盤價
spread        | 漲跌價差
transaction_no| 成交筆數

In [3]:
conn.execute(
    '''CREATE TABLE STOCK_DAILY
       (ID INT PRIMARY KEY     NOT NULL,
        stock_id       TEXT    NOT NULL,
        date           TEXT,
        volume         INT,
        turnover_value INT,
        open           REAL,
        high           REAL,
        low            REAL,
        close          REAL,
        spread         REAL,
        transaction_no INT);''')

In [10]:
FOLDER = 'data'
file_names = os.listdir(FOLDER)
for file_name in file_names[0:1]:
    if not file_name.endswith('.csv'):
            continue
    print("Handling File: " + file_name)
    df = pd.read_csv(FOLDER+'/'+file_name, header = None)

Handling File: 030475.csv

In [51]:
file_name = file_names[0].split('.')[0]
for index, row in df.iterrows():
    list_item = row.tolist()
    sql_str = "INSERT INTO STOCK_DAILY (stock_id, date, volume, turnover_value, open, high, low, close, spread, transaction_no) VALUES( "+file_name+','+list_item[0]+','+list_item[1]+','+list_item[2]+','+list_item[3]+','+list_item[4]+','+list_item[5]+','+list_item[6]+','+list_item[7]+','+list_item[8]+")"
    print(sql_str)

TypeError: can only concatenate str (not "int") to str

In [45]:
"030475.csv"

'030475'